<div class="app">
 <header class="header">
        <div class="grid">
            <nav class="header__navbar">
                <ul class="header__navbar-list">
                    <li class="header__navbar-item">
                        <a href="/home" class="header__navbar-item-link">Trang chủ</a>
                    </li>
                </ul>
                <ul class="header__navbar-list">
                    <li class="header__navbar-item
                        header__navbar-item-has-notify">
                        <i class="fas fa-bell header__navbar-icon"></i>
                        <div onclick=viewNotify()
                            class="header__navbar-item-link">Thông báo</div>
                        <div class="header__notify">
                            <header class="header__notify-header">
                                <h3>Thông báo mới nhận</h3>
                            </header>
                            <ul class="header__notify-list"
                                id="header__notify-list">
                                
                            </ul>
                        </div>
                    </li>
                    <li class="header__navbar-item">
                        <a href="/user/login" class="header__navbar-item-link">Đăng nhập</a>
                    </li>
                    <li class="header__navbar-item" >
                            <i class="fas fa-user-circle"></i>
                            <div onclick=showUserInfo() class="header__navbar-item-link">Tài khoản</div>
                            <div class="header__userinfo" id="header__userinfo">
                                <div class="header__userinfo-logo">
                                    <i class="fas fa-user-circle header__userinfo-logo-icon"></i>
                                </div>

                            </div>
                        </li>
                        
                </ul>
                
            </nav>
            <div class="header-with-search">
                <img src="/img/logo.png" onclick="location.href='/home'" alt="" class="header-logo">
                <div class="header__search">
                    <form class="header__search-form" action="/search">
                        <input name="keyword" type="text"
                            class="header__search-input"
                            placeholder="Nhap ten phim">
                        <button type="submit"
                            class="header__search-btn">
                            <i class="fas fa-search
                                header__search-btn-icon"></i>
                        </button>
                    </form>
                </div>
            <div class="header_menu_icon" style="display: flex;">
                <label for="nav-mobile-search" class="header__navbar__btn">
                    <i class="fas fa-search"></i>
                </label>
                <label for="nav-mobile-input" class="header__navbar__btn">
                    <i class="fas fa-bars"></i>
                </label>
            </div>
            <input type="checkbox" hidden class="nav_input" id="nav-mobile-input">
            <input type="checkbox" hidden class="nav_input" id="nav-mobile-search">
            <label for="nav-mobile-input" class="nav__overlay"></label>
            <nav class="header__navbar__mobile" >
                <div class="header__navbar__mobile-header">
                    <img src="/img/logo.png" onclick="location.href='/home'" alt="" class="header-menu-logo">
                    <label for="nav-mobile-input" class="header-menu-mobile-exit">
                        <i class="fas fa-times"></i>
                    </label>
                </div>
                <ul class="header__navbar-list__mobile" >
                    <li class="header__navbar-item__mobile" >
                        <a href="/home" class="header__navbar-item-link__mobile" >
                        <i class="fas fa-home header__navbar-icon__mobile"></i>Trang chủ</a>
                    </li>
                    <li class="header__navbar-item__mobile" >
                        <a href="/user/login" class="header__navbar-item-link__mobile" >
                        <i class="fas fa-sign-in-alt header__navbar-icon__mobile"></i>Đăng nhập</a>
                    </li>
                    <input type="checkbox" hidden id="showaccount">
                    <label for="showaccount" class="header__navbar-item__mobile header__navbar-account" >
                            
                            <div class="header__navbar-item-link__mobile" >
                                <i class="fas fa-user-circle header__navbar-icon__mobile"></i>
                                Tài khoản</div>
                    </label>
                    <li class="header__navbar-userinfo__mobile" id="header__userinfo-mobile">
                        {{!-- <div class="header__userinfo__mobile" >
                            <img class="header__userinfo-logo__mobile" src="https://www.adobe.com/content/dam/cc/us/en/creativecloud/design/discover/mascot-logo-design/mascot-logo-design_fb-img_1200x800.jpg"/>
                            <div class="header__userinfo__mobile-box">
                                <div class="header__userinfo__mobile-name">Bui Truong Giang</div>
                                <div class="header__userinfo__mobile-username">Tgiang</div>
                            </div>
                        </div>
                        <form action="">
                            <button type="submit" class="menubutton-mobile">
                            Quản lí tài khoản
                            </button>
                        </form> --}}
                    </li> 
                    <input type="checkbox" hidden id="shownotify">
                     <label for="shownotify" class="header__navbar-item__mobile" >                        
                        <div
                            class="header__navbar-item-link__mobile" >
                            <i class="fas fa-bell header__navbar-icon__mobile" ></i>Thông báo</div>
                     </label>
                    <div class="header__notify__mobile" >
                            <header class="header__notify-header__mobile" >
                                <h3>Thông báo mới nhận</h3>
                            </header>
                            <ul class="header__notify-list__mobile" id="header__notify-list-mobile">
                                {{!-- <li class="header__notify-item-mobile">
                                <div class="header__notify-link-mobile">
                                    <img src="/appdata/filmposters/123.jpg" class="header__notify-img-mobile">
                                    <div class="header__notify-info-mobile">
                                        Phim cập nhật hoàn tất
                                    </div>
                                    </div>
                                </li> --}}
                            </ul>
                    </div>   
                </ul>
                
            </nav>                               
            
            <div class="header-search-mobile-container">
                <div class="header__search-mobile">
                    <form class="header__search-form-mobile" action="/search">
                        <input name="keyword" type="text"
                            class="header__search-input-mobile"
                            placeholder="Nhap ten phim">
                        <button type="submit"
                            class="header__search-btn-mobile">
                            <i class="fas fa-search
                                header__search-btn-icon-mobile"></i>
                        </button>
                    </form>
                </div>  
            </div> 
            </div>
                     
        </div>
        
    </header>
  <div class="container">
    <div class="grid">
      <div class="grid__row">
        <div class="grid__column-9">
          <div class="grid__row" style="margin-top: 40px;">
            <div class="grid__column-4 film_poster_mobile">
              <img src="{{film.poster_link}}" alt="" class="film-poster">
            </div>
            <div class="grid__column-8 film-detail_mobile">
              <div class="film-detail">
                <div class="film-name">
                  <h1 class="film-detail-name">{{film.movie_name_eng}}</h1>
                  <h1 class="film-detail-name">{{film.movie_name_vie}}</h1>
                </div>
                <div class="film-rate">
                  <div class="film-idmb">
                    <i class="fab fa-imdb film-idmb-icon"></i>{{film.idmb}}
                  </div>
                  <div class="film-status">{{film.status}}</div>
                  <div class="film-resolution">{{film.resolution}}</div>
                </div>
                <div class="film-button-block">
                  <button onclick=watch() class="film-btn film-btn-watch">Xem
                    phim</button>
                  <button onclick=viewTrailer() class="film-btn
                    film-btn-trailer">Xem trailer</button>
                  <script>
                                            
                                            function viewTrailer(){
                                                var trailerView=document.getElementById("trailer_block");
                                                trailerView.scrollIntoView();
                                            }
                                            function watch()
                                            {
                                                location.href='/films/{{film.slug}}/watch';
                                            }
                                        </script>
                </div>
                <ul class="film-info">
                  <li class="film-info-item">
                    Đạo diễn: {{film.director}}
                  </li>
                  <li class="film-info-item">
                    Quốc gia: {{film.country}}
                  </li>
                  <li class="film-info-item">
                    Ngày khởi chiếu: {{film.release_date}}
                  </li>
                  <li class="film-info-item">
                    Thời lượng: {{film.timespan}}
                  </li>
                  <li class="film-info-item">
                    Chất lượng: {{film.quality}}
                  </li>
                </ul>
              </div>

            </div>
          </div>

          <div class="grid__row">
            <div class="film-content-block">
              <h1 class="film-content-header">Nội dung phim</h1>
              <p class="film-content-text">
                {{film.film_content}}
              </p>
            </div>
          </div>
          <div class="grid__row" id="trailer_block">
            <div class="film-trailer-block">
              <h1 class="film-content-header">Trailer</h1>
              <iframe class="trailer-frame" src="{{{film.trailer_link}}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>



        </div>
         <div class="grid__column-3 most_view_list">
                    <nav class="category">
                        <h2 class="category__heading">
                            <i class="fas fa-list-ul
                                category__heading-icon"></i>
                            Top phim xem nhiều
                        </h2>
                        <ul class="category-list" id="most-views-list">
                            
                        </ul>
                       
                    </nav>
                </div>

      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="grid">
      <div class="grid__row">
        <div class="grid__column-6 footer-contact">
          <a href="" class="footer-link">
            <i class="fab fa-facebook"></i> My facebook
          </a>
          <a href="" class="footer-link">
            <i class="fas fa-envelope"></i> abcxyz@sis.edu.vn
          </a>
        </div>
      </div>
    </div>
  </footer>
</div>
